.heading {
    font-size: 18px;
    font-weight: bold;
}

.search-entry {
    font-size: 18px;
    border-radius: 10px;
    color: @theme_text_color;
}

.max-window {
    border-radius: 10px;
    background: transparent;
}

.background-button {
    border: none;
    box-shadow: none;
    background: transparent;
}

.main-box {
    border-radius: 10px;
    background: @theme_bg_color;
}

.result-list {
    border-radius: 0 0 10px 10px;
}

.setting-button image {
    color: @theme_fg_color;
    -gtk-icon-size: 24px;
}

.setting-button {
    padding-top: 10px;
    padding-bottom: 10px;
}